{% extends 'base.html.twig' %}

{% block title %}New Medinf{% endblock %}

{% block body %}
    <h1>Créer Medinf</h1>

    {{ include('medinf/_form.html.twig') }}
    {# <a href="{{ path('medinf_index') }}" class="btn-lg btn-secondary fas fa-backspace"></a> #}
{% endblock %}
