{% extends 'base.html.twig' %}

{% block title %}New Medinf{% endblock %}

{% block body %}
    <h1>Create new Medinf</h1>

    {{ include('medinf/_form.html.twig') }}
    {# <a href="{{ path('medinf_index') }}" class="btn btn-sm btn-secondary"><i class="fas fa-backspace"></i></a> #}
{% endblock %}
