{% extends 'base.html.twig' %}

{% block title %}Edit Invitations{% endblock %}

{% block body %}
    <h1>Edit Invitations</h1>

    {{ include('invitations/_form.html.twig', {'button_label': 'Update'}) }}
    {# {{ include('consultants/_table.html.twig') }} #}
    <a href="{{ path('invitations_index') }}" class="fas fa-backspace btn-sm btn-dark"></a>
    {{ include('invitations/_delete_form.html.twig') }}
{% endblock %}
