{% extends 'base.html.twig' %}

{% block title %}Nouvelle invitation{% endblock %}

{% block body %}
<div class="col-12 form-group">
    <h1>Nouvelle invitation</h1>
    {{ include('invitations/_form.html.twig') }}
</div>    
{% endblock %}
