{% extends 'base.html.twig' %}

{% block title %}Edit Metier{% endblock %}

{% block body %}
    <h1>Edit Metier</h1>

    {{ include('metier/_form.html.twig', {'button_label': 'Update','attr':{'class':'btn btn-sm btn-dark'}}}) }}

    <a href="{{ path('metier_index') }}" class="btn-lg btn-secondary fas fa-backspace"></a>

    {{ include('metier/_delete_form.html.twig') }}
{% endblock %}
