{% extends 'base.html.twig' %}

{% block title %}New Metier{% endblock %}

{% block body %}
    <h1>Créer Metier</h1>

    {{ include('metier/_form.html.twig') }}

    <a href="{{ path('metier_index') }}" class="btn-lg btn-secondary fas fa-backspace"></a>
{% endblock %}
