<form method="post" action="{{ path('convocations_delete', {'id': convocation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ convocation.id) }}">
    <button class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>
</form>
