{% extends 'base.html.twig' %}

{% block title %}Edit Convocations{% endblock %}

{% block body %}
    <h1>Edit Convocations</h1>

    {{ include('convocations/_form.html.twig', {'button_label': '<i class="fas fa-sync"></i>'}) }}
    <div class="col-12 form-row mt-2">
        <a href="{{ path('convocations_index') }}" class="offset-6 btn-lg btn-dark fas fa-backspace"></a>
        {{ include('convocations/_delete_form.html.twig') }}
    </div>
{% endblock %}
