{% extends 'base.html.twig' %}

{% block title %}New Convocations{% endblock %}

{% block body %}
<h1>Créer Convocations</h1>
<div class="container">
    {{ include('convocations/_form.html.twig') }}
</div>
{% endblock %}
