{% extends 'base.html.twig' %}

{% block title %}Edit Consultants{% endblock %}

{% block body %}
    <h1>Edit Consultants</h1>
    
    {{ include('consultants/_form.html.twig', {'button_label': '<i class="fas fa-sync"></i>'}) }}

    <a href="{{ path('consultants_index') }}" class="btn btn-sm btn-secondary"><i class="fas fa-backspace"></i></a>

    {{ include('consultants/_delete_form.html.twig') }}
{% endblock %}
