{% extends 'base.html.twig' %}

{% block title %}New Consultants{% endblock %}

{% block body %}
    <h1>Create new Consultants</h1>

    {{ include('consultants/_form.html.twig') }}

    <a href="{{ path('consultants_index') }}" class="btn btn-sm btn-secondary"><i class="fas fa-backspace"></i></a>
{% endblock %}
