{% extends 'base.html.twig' %}

{% block title %}New Fonction{% endblock %}

{% block body %}
    <h1>Create new Fonction</h1>

    {{ include('fonction/_form.html.twig') }}

    <a href="{{ path('fonction_index') }}" class="btn btn-sm btn-secondary"><i class="fas fa-backspace"></i></a>
{% endblock %}
