{% extends 'base.html.twig' %}

{% block title %}New Fonction{% endblock %}

{% block body %}
    <h1>Créer Fonction</h1>

    {{ include('fonction/_form.html.twig') }}

    <a href="{{ path('fonction_index') }}" class="btn-lg btn-secondary fas fa-backspace"></a>
{% endblock %}
